[submodule "C4.5/Python"]
	path = C4.5/Python
	url = https://github.com/banilaste/C4.5
[submodule "CART"]
	path = CART
	url = https://github.com/Valdecy/CART.git
[submodule "ID3"]
	path = ID3
	url = https://github.com/gaunthan/ID3-Implement.git
